In [2]:
import pandas
import numpy

df_updrs_ii = pandas.read_csv('../source_data/MDS_UPDRS_Part_II__Patient_Questionnaire.csv')
df_patnos = pandas.read_csv('../source_data/non_hc_patnos.csv')
df_sigfall = pandas.read_csv('../source_data/sigfall_main.csv')
non_hc_patnos = list(df_patnos.values.flat)

df_sigfall.head()

   PATNO EVENT_ID   INFODT  AGE_AT_EVENT  PREV_SIGFALL  SIGFALL
0   3001      V15  03/2019          73.2             0      0.0
1   3001      V17  09/2021          75.7             0      1.0
2   3001      V18  07/2022          76.5             1      0.0
3   3002      V15  03/2019          75.6             0      0.0
4   3002      V17  09/2021          78.1             0      0.0

In [3]:
# --- Create dataframe that combines UPDRSii data with SIGFALL & PREV_SIGFALL ---

def lookup_value(dframe,row,value):
    patno = row['PATNO']
    infodt = row['INFODT']
    
    s1 = dframe[(dframe.INFODT == infodt) & (dframe.PATNO == patno)][value]
    if s1.empty:    
        return numpy.nan
    else:
        return s1.values[0]
    
df_updrs_ii_sigfall_base = df_updrs_ii[df_updrs_ii['PATNO'].isin(non_hc_patnos)]
df_updrs_ii_sigfall_base = df_updrs_ii_sigfall_base.drop(['REC_ID','PAG_NAME','NUPSOURC','ORIG_ENTRY','LAST_UPDATE'], axis=1)
df_updrs_ii_sigfall_base['SIGFALL'] = df_updrs_ii_sigfall_base.apply (lambda row: lookup_value(df_sigfall,row,'SIGFALL'), axis=1)
df_updrs_ii_sigfall_base['PREV_SIGFALL'] = df_updrs_ii_sigfall_base.apply (lambda row: lookup_value(df_sigfall,row,'PREV_SIGFALL'), axis=1)
df_updrs_ii_sigfall_base = df_updrs_ii_sigfall_base.dropna()
df_updrs_ii_sigfall_base.head()

,PATNO,EVENT_ID,INFODT,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ,NP2PTOT,SIGFALL,PREV_SIGFALL
24,3001,V15,03/2019,0.0,0.0,0.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,0.0,0.0,13.0,0.0,0.0
25,3001,V17,09/2021,1.0,0.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,0.0,16.0,1.0,0.0
26,3001,V18,07/2022,2.0,3.0,1.0,2.0,2.0,1.0,3.0,3.0,1.0,2.0,2.0,1.0,0.0,23.0,0.0,1.0
43,3002,V15,03/2019,2.0,3.0,1.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,2.0,3.0,0.0,24.0,0.0,0.0
44,3002,V17,09/2021,2.0,4.0,3.0,2.0,1.0,2.0,1.0,2.0,3.0,2.0,4.0,4.0,0.0,30.0,0.0,0.0

In [4]:
df_updrs_ii_sigfall_base.columns

Index(['PATNO', 'EVENT_ID', 'INFODT', 'NP2SPCH', 'NP2SALV', 'NP2SWAL',
       'NP2EAT', 'NP2DRES', 'NP2HYGN', 'NP2HWRT', 'NP2HOBB', 'NP2TURN',
       'NP2TRMR', 'NP2RISE', 'NP2WALK', 'NP2FREZ', 'NP2PTOT', 'SIGFALL',
       'PREV_SIGFALL'],
      dtype='object')

In [5]:
# Compute Delta values, from last sample event

def get_infodts(dframe,patno):
    return list(dframe[dframe.PATNO == patno]['INFODT'].values)

def date_to_tuple(date):
    year = date[-4:]
    month = date[:2]
    return (month,year,date)

def date_sort(dates):
    tup_list = map(date_to_tuple,dates)
    return sorted(tup_list, key = lambda x: (x[1],x[0]))

def get_index(date,dates):
    output = (False,999)    
    for idx, val in enumerate(dates):
        if val[2] == date:
            output = (True,idx)
    return output

def prev_value(dframe,row,q):
    output = numpy.nan
    patno = row['PATNO']
    infodt = row['INFODT']    
    dates = get_infodts(dframe,patno)
    sorted_dates = date_sort(dates)
    i = get_index(infodt,sorted_dates)
    
    if i[0] == True:
        try:
            prev_date_index = i[1] - 1
            if prev_date_index > -1:
                prev_date = sorted_dates[prev_date_index][2]
                output = dframe[(dframe.INFODT == prev_date ) & (dframe.PATNO == patno)][q].values[0]
        except:
            pass
    return output

def q_delta_actual(dframe,row,q):
    output = numpy.nan
    patno = row['PATNO']
    infodt = row['INFODT']
    
    current = dframe[(dframe.INFODT == infodt ) & (dframe.PATNO == patno)][q].values[0]
    prev = prev_value(dframe,row,q)
    
    try:
        output = current - prev
    except:
        pass
    return output

updrs_qs = ['NP2SPCH','NP2SALV','NP2SWAL','NP2EAT','NP2DRES','NP2HYGN','NP2HWRT','NP2HOBB','NP2TURN','NP2TRMR','NP2RISE','NP2WALK','NP2FREZ','NP2PTOT']
dq_pairs = [(x,('D_'+x)) for x in updrs_qs]

for x in dq_pairs:
    df_updrs_ii_sigfall_base[x[1]] = df_updrs_ii_sigfall_base.apply (lambda row: q_delta_actual(df_updrs_ii_sigfall_base,row,x[0]), axis=1)

In [6]:
df_qs = df_updrs_ii_sigfall_base[['D_NP2SPCH', 'D_NP2SALV', 'D_NP2SWAL', 'D_NP2EAT',
       'D_NP2DRES', 'D_NP2HYGN', 'D_NP2HWRT', 'D_NP2HOBB', 'D_NP2TURN',
       'D_NP2TRMR', 'D_NP2RISE', 'D_NP2WALK', 'D_NP2FREZ', 'D_NP2PTOT','PREV_SIGFALL','SIGFALL']]
df_qs = df_qs.dropna()
df_qs.to_csv('../working_data/updrsii_all_q_p_s.csv', index=False)

df_q = df_qs.drop('PREV_SIGFALL', axis=1)
df_q.to_csv('../working_data/updrsii_all_q_s.csv', index=False)

In [6]:
# Extract used PATNOS for population analysis
df_pop = df_updrs_ii_sigfall_base
df_pop = df_pop.dropna()
df_pop = df_pop[['PATNO', 'EVENT_ID', 'INFODT']]
df_pop.to_csv('../source_data/u_ii_records.csv')