In [3]:
import math
import numpy as np
import pandas
from scipy.stats import ttest_ind

original_data = pandas.read_csv('../working_data/updrsi_all_q_p_s.csv')

original_data.head()

# ditch prev_sigfall

fallers = original_data.query('SIGFALL == 1.0')
fallers = fallers.drop(['PREV_SIGFALL','SIGFALL'], axis=1)
non_fallers = original_data.query('SIGFALL == 0.0')
non_fallers = non_fallers.drop(['PREV_SIGFALL','SIGFALL'], axis=1)

In [4]:
non_fallers.head()

   D_NP1COG  D_NP1HALL  D_NP1DPRS  D_NP1ANXS  D_NP1APAT  D_NP1DDS
1       0.0        0.0        1.0       -2.0        1.0       0.0
2       2.0        1.0        0.0        2.0       -1.0       0.0
3       0.0       -1.0        2.0       -1.0        2.0       1.0
4       1.0        0.0       -1.0        2.0        0.0       0.0
5      -1.0        1.0        1.0        0.0       -1.0       1.0

In [5]:
qs = non_fallers.columns

for q in qs:
    p = ttest_ind(fallers[q], non_fallers[q], equal_var=False)
    if p.pvalue < 0.05:
        print(q)
        print(p)

In [6]:
for q in qs:
    p = ttest_ind(fallers[q], non_fallers[q], equal_var=False)
    print(q)
    print(p)

D_NP1COG
Ttest_indResult(statistic=-0.13982293346008226, pvalue=0.8890764083143473)
D_NP1HALL
Ttest_indResult(statistic=-0.17497152693662094, pvalue=0.8614133770202722)
D_NP1DPRS
Ttest_indResult(statistic=0.7436844867515058, pvalue=0.45876688949066635)
D_NP1ANXS
Ttest_indResult(statistic=1.1394171110920384, pvalue=0.2569900007492031)
D_NP1APAT
Ttest_indResult(statistic=0.4294962631113889, pvalue=0.6684406010912389)
D_NP1DDS
Ttest_indResult(statistic=0.008121992901216292, pvalue=0.9935357812900396)

In [ ]:
# So NO significant difference in updrs_i data