In [129]:
import pandas
import numpy

df_pat_main = pandas.read_csv('../source_data/participant_main.csv')
df_u_i = pandas.read_csv('../source_data/u_i_records.csv')
df_u_ii = pandas.read_csv('../source_data/u_ii_records.csv')
df_demographics = pandas.read_csv('../source_data/Demographics.csv')
df_sigfall = pandas.read_csv('../source_data/sigfall_main.csv')

In [92]:
# SEX: 1 = Male, 0 = Female
# df_demographics.query('CHLDBEAR == 1 and SEX == 1')[['SEX','CHLDBEAR']]
# df_demographics.query('PATNO == 3001')['SEX'].values.tolist()[0]
df_u_iv.head()

   Unnamed: 0  PATNO EVENT_ID   INFODT
0           7   3001      V18  07/2022
1          21   3002      V18  03/2022
2          40   3010      V18  06/2022
3          52   3018      V17  06/2022
4          69   3023      V17  07/2022

In [118]:
x = df_u_i['PATNO'].tolist() + df_u_ii['PATNO'].tolist() + df_u_iii['PATNO'].tolist() + df_u_iv['PATNO'].tolist()
y = set(x)
unique_patnos = list(y)

len(unique_patnos)

pd_patnos = []
pro_dromal_patnos = []

for p in unique_patnos:
    patno = p
    pd = df_pat_main.query('PATNO == @patno')['COHORT_PD'].values.tolist()[0]
    if pd == 1:
        pd_patnos.append(p)
    else:
        pro_dromal_patnos.append(p)

In [128]:
pd_total = len(pd_patnos)
dromal_total = len(pro_dromal_patnos)

print(len(pd_patnos))
print(len(pro_dromal_patnos))

len(pd_patnos) + len(pro_dromal_patnos) == len(unique_patnos)
print(len(unique_patnos))

323
242
565

In [125]:
df_demographics['SEX'].value_counts()

len(pd_sex)

323

In [127]:
# Count by gender

pd_m = []
pd_f = []
pd_sex = []

for x in pd_patnos:
    sex = df_demographics.query('PATNO == @x')['SEX'].values.tolist()[0]
    pd_sex.append((x,sex))
    if sex == 0:
        pd_f.append(1)
    else:
        pd_m.append(1)

print(len(pd_m))
print(len(pd_f))

dromal_m = []
dromal_f =[]

for x in pro_dromal_patnos:
    sex = df_demographics.query('PATNO == @x')['SEX'].values.tolist()[0]
    if sex == 0:
        dromal_f.append(1)
    else:
        dromal_m.append(1)

print(len(dromal_m))
print(len(dromal_f))

204
119
111
131

In [113]:
# n_records in the study

# def string_

records = pandas.concat([df_u_i[['PATNO','EVENT_ID']], df_u_ii[['PATNO','EVENT_ID']], df_u_iii[['PATNO','EVENT_ID']], df_u_iv[['PATNO','EVENT_ID']]], ignore_index=True, axis=0)

records['PATNO'] = records['PATNO'].astype(str)
records['ID'] = records['PATNO'] + records['EVENT_ID']

unique_records = list(set(records['ID'].tolist()))
len(unique_records)

752

In [116]:
print(df_u_i.shape)
print(df_u_ii.shape)
print(df_u_iii.shape)
print(df_u_iv.shape)

(723, 4)
(726, 4)
(523, 4)
(190, 4)

In [142]:
#Â Age analysis

df_sigfall['PATNO'] = df_sigfall['PATNO'].astype(str)
df_sigfall['ID'] = df_sigfall['PATNO'] + df_sigfall['EVENT_ID']

record_ages = []
for a in unique_records:
    try:
        age = df_sigfall.query('ID == @a')['AGE_AT_EVENT'].values.tolist()[0]
        record_ages.append(age)
    except:
        pass

len(record_ages)

750

In [144]:
pandas.Series(record_ages).describe()

count    750.000000
mean      68.047467
std        8.276133
min       38.900000
25%       62.425000
50%       68.500000
75%       73.800000
max       90.600000
dtype: float64