In [55]:
import math
import numpy as np
import pandas
import itertools
from sklearn.metrics import precision_score


uii_data = pandas.read_csv('../working_data/updrsii_all_q_p_s.csv')

In [56]:
def query_builder(qs, threshold):
    output = ""
    for q in qs:
        add = f'{q} > {threshold} and '
        output = output + add        
    return output[:-5]

def test_q_subset(source,qs, threshold, results):
    df_tmp = source.query(query_builder(qs, threshold))
    row,_ = df_tmp.shape
    if row > 5:
        y = df_tmp['SIGFALL']
        predictions = [1.0] * len(y)
        p = precision_score(y, predictions, zero_division=0)
        if p > 0.49:
            results.append((qs, p))

In [57]:
# Perebor it:

uii_all_qs = {'D_NP2SPCH', 'D_NP2SALV', 'D_NP2SWAL', 'D_NP2EAT',
       'D_NP2DRES', 'D_NP2HYGN', 'D_NP2HWRT', 'D_NP2HOBB', 'D_NP2TURN',
       'D_NP2TRMR', 'D_NP2RISE', 'D_NP2WALK', 'D_NP2FREZ', 'D_NP2PTOT'}

uii_sets = []

for x in range(1,len(uii_all_qs)):
    uii_sets.append(list(itertools.combinations(uii_all_qs, x)))

In [33]:
uii_flatten = [element for sublist in uii_sets for element in sublist]
uii_flatten[0]
len(uii_flatten)

16382

In [53]:
uii_0_results = []
for qs in uii_flatten:
    test_q_subset(uii_data, qs,0, uii_0_results)
    
uii_0_results

[(('D_NP2HWRT', 'D_NP2SWAL', 'D_NP2FREZ'), 0.5),
 (('D_NP2HWRT', 'D_NP2FREZ', 'D_NP2EAT'), 0.5),
 (('D_NP2TRMR', 'D_NP2RISE', 'D_NP2WALK', 'D_NP2FREZ'), 0.5),
 (('D_NP2HWRT', 'D_NP2SWAL', 'D_NP2HOBB', 'D_NP2FREZ'), 0.6666666666666666),
 (('D_NP2HWRT', 'D_NP2PTOT', 'D_NP2FREZ', 'D_NP2EAT'), 0.5),
 (('D_NP2DRES', 'D_NP2HYGN', 'D_NP2FREZ', 'D_NP2EAT'), 0.5),
 (('D_NP2TURN', 'D_NP2SALV', 'D_NP2HOBB', 'D_NP2FREZ'), 0.5),
 (('D_NP2HYGN', 'D_NP2HOBB', 'D_NP2FREZ', 'D_NP2EAT'), 0.5),
 (('D_NP2TRMR', 'D_NP2RISE', 'D_NP2WALK', 'D_NP2PTOT', 'D_NP2FREZ'), 0.5),
 (('D_NP2DRES', 'D_NP2PTOT', 'D_NP2HYGN', 'D_NP2FREZ', 'D_NP2EAT'), 0.5),
 (('D_NP2TURN', 'D_NP2SALV', 'D_NP2PTOT', 'D_NP2HOBB', 'D_NP2FREZ'), 0.5),
 (('D_NP2PTOT', 'D_NP2HYGN', 'D_NP2HOBB', 'D_NP2FREZ', 'D_NP2EAT'), 0.5)]

In [54]:
a,b = uii_0_results[0]
list(a)
z = []

for x in uii_0_results:
    a,_ = x
    z.append(list(a))
    
flatten_list = [element for sublist in z for element in sublist]
flatten_list

(unique, counts) = np.unique(flatten_list, return_counts=True)
frequencies = np.asarray((unique, counts)).T
frequencies

array([['D_NP2DRES', '2'],
       ['D_NP2EAT', '6'],
       ['D_NP2FREZ', '12'],
       ['D_NP2HOBB', '5'],
       ['D_NP2HWRT', '4'],
       ['D_NP2HYGN', '4'],
       ['D_NP2PTOT', '5'],
       ['D_NP2RISE', '2'],
       ['D_NP2SALV', '2'],
       ['D_NP2SWAL', '2'],
       ['D_NP2TRMR', '2'],
       ['D_NP2TURN', '2'],
       ['D_NP2WALK', '2']], dtype='<U21')

In [35]:
uii_1_results = []
for qs in uii_flatten:
    test_q_subset(uii_data, qs,1, uii_1_results)
    
uii_1_results

[]

In [36]:
uii_2_results = []
for qs in uii_flatten:
    test_q_subset(uii_data, qs,2, uii_2_results)
    
uii_2_results

[(('D_NP2FREZ',), 0.42857142857142855),
 (('D_NP2PTOT', 'D_NP2FREZ'), 0.42857142857142855)]

In [37]:
uii_3_results = []
for qs in uii_flatten:
    test_q_subset(uii_data, qs,3, uii_3_results)
    
uii_3_results

[]

In [18]:
print(uii_data.query("SIGFALL == 0").shape)
print(uii_data.query("SIGFALL > 0").shape)

(644, 16)
(82, 16)

In [23]:
82/644

0.12732919254658384

In [22]:
(644 - 82)/644

0.8726708074534162

In [40]:
df_fallers = uii_data.query("SIGFALL > 0")
df_fallers.head()

,D_NP2SPCH,D_NP2SALV,D_NP2SWAL,D_NP2EAT,D_NP2DRES,D_NP2HYGN,D_NP2HWRT,D_NP2HOBB,D_NP2TURN,D_NP2TRMR,D_NP2RISE,D_NP2WALK,D_NP2FREZ,D_NP2PTOT,PREV_SIGFALL,SIGFALL
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,1.0
7,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,3.0,9.0,0.0,1.0
13,-1.0,-3.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,0.0,-8.0,0.0,1.0
15,2.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,0.0,0.0,3.0,15.0,0.0,1.0
16,0.0,0.0,1.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,1.0

In [45]:
df_fallers.query("D_NP2SPCH != 0.0").shape
for x in df_fallers.columns.to_list():
    q = f'{x} != 0.0'
    nz,_ = df_fallers.query(q).shape
    r = nz/82
    print(x, ' ', nz, ' ' ,r)

D_NP2SPCH   32   0.3902439024390244
D_NP2SALV   35   0.4268292682926829
D_NP2SWAL   22   0.2682926829268293
D_NP2EAT   27   0.32926829268292684
D_NP2DRES   28   0.34146341463414637
D_NP2HYGN   22   0.2682926829268293
D_NP2HWRT   35   0.4268292682926829
D_NP2HOBB   35   0.4268292682926829
D_NP2TURN   25   0.3048780487804878
D_NP2TRMR   28   0.34146341463414637
D_NP2RISE   36   0.43902439024390244
D_NP2WALK   33   0.4024390243902439
D_NP2FREZ   24   0.2926829268292683
D_NP2PTOT   66   0.8048780487804879
PREV_SIGFALL   28   0.34146341463414637
SIGFALL   82   1.0

In [47]:

for x in df_fallers.columns.to_list():
    q = f'{x} > 0.0'
    nz,_ = df_fallers.query(q).shape
    r = nz/82
    print(x, ' ', nz, ' ' ,r)

D_NP2SPCH   16   0.1951219512195122
D_NP2SALV   16   0.1951219512195122
D_NP2SWAL   15   0.18292682926829268
D_NP2EAT   17   0.2073170731707317
D_NP2DRES   20   0.24390243902439024
D_NP2HYGN   14   0.17073170731707318
D_NP2HWRT   23   0.2804878048780488
D_NP2HOBB   24   0.2926829268292683
D_NP2TURN   14   0.17073170731707318
D_NP2TRMR   18   0.21951219512195122
D_NP2RISE   27   0.32926829268292684
D_NP2WALK   24   0.2926829268292683
D_NP2FREZ   20   0.24390243902439024
D_NP2PTOT   45   0.5487804878048781
PREV_SIGFALL   28   0.34146341463414637
SIGFALL   82   1.0

In [70]:
df_univ = uii_data.query("D_NP2RISE > 0 and D_NP2WALK > 0 and D_NP2FREZ > 0 and D_NP2PTOT >0")
print(df_univ.shape)

y = df_univ['SIGFALL']
predictions = [1.0] * len(y)
precision_score(y, predictions, zero_division=0)

(15, 16)

0.3333333333333333

In [68]:
df_univ

,D_NP2SPCH,D_NP2SALV,D_NP2SWAL,D_NP2EAT,D_NP2DRES,D_NP2HYGN,D_NP2HWRT,D_NP2HOBB,D_NP2TURN,D_NP2TRMR,D_NP2RISE,D_NP2WALK,D_NP2FREZ,D_NP2PTOT,PREV_SIGFALL,SIGFALL
74,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,5.0,0.0,1.0
133,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,7.0,0.0,0.0
147,0.0,0.0,-1.0,0.0,1.0,0.0,0.0,1.0,0.0,-1.0,1.0,1.0,1.0,3.0,0.0,0.0
180,-1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,4.0,1.0,0.0
181,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,16.0,0.0,0.0
201,0.0,3.0,0.0,2.0,2.0,2.0,0.0,0.0,1.0,4.0,2.0,2.0,2.0,20.0,0.0,0.0
246,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,1.0,1.0,1.0,8.0,0.0,1.0
310,3.0,3.0,0.0,0.0,2.0,0.0,1.0,2.0,1.0,0.0,2.0,2.0,3.0,19.0,0.0,0.0
338,0.0,-2.0,0.0,0.0,1.0,-1.0,-1.0,2.0,1.0,0.0,1.0,1.0,2.0,4.0,0.0,0.0
367,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,3.0,0.0,0.0
384,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,-1.0,1.0,2.0,2.0,7.0,0.0,0.0
391,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,5.0,0.0,1.0
511,-1.0,-1.0,-1.0,2.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,2.0,3.0,9.0,0.0,1.0
513,1.0,0.0,2.0,1.0,2.0,0.0,1.0,0.0,0.0,-2.0,1.0,1.0,2.0,9.0,1.0,1.0
573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,4.0,0.0,0.0